.bg-1 { 
    background-color: #6c9a95; 
    color: #fff;
    background-image: url("/bg.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 170px;
    padding-bottom: 170px;

    
    
  }

  .bg-2 { 
    background-color: #6c9a95; 
    color: #fff;
    padding-top: 170px;
    padding-bottom: 170px;
  }

  .bg-3 { 
    background-color: #2c3a39; 
    color: #fff;
    padding-top: 170px;
    padding-bottom: 170px;
  }

  h1.header{
    text-shadow:2px 2px 5px #000;
    font-family: "Helvetica";
  }

  h3 {
    text-shadow:2px 2px 5px #000;
    font-family: "Helvetica";
  }

  p.header {
    text-shadow:2px 2px 5px #000;
    font-family: "Helvetica";
  }

  .rounded-circle {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
  }

  .rounded-circle:hover {
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
  }


